.field{
    border: 2px solid  ;
    border-radius: 15px;
    color: ;
    background-color: ;
    text-align:start;
}
.head{
    border: 2px solid;
    margin-bottom: 5px;
    border-radius: 15px;
    color: ;
    background-color: ;
}
.body{
    background-color: ;
    
}
input{
    background-color: ;
    color: ;
    font-family: Arial, Helvetica, sans-serif;
    
}

select{
    background-color:;
}
.area{
    background-color: ;
    border-radius: 10px;
}
.field2{
    border-radius: 15px;
    border: 2px solid ;
    margin-bottom: 5px ;
    background-color:;
}
.field3{
    border-radius: 15px;
    border: 2px solid ;
    background-color:

    }