.flex1{
    display: flex;
    justify-content: end;
    justify-content: space-between;
    
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.head2{
    border-bottom: 2px solid;
    color: #632323;
    margin-bottom: -20px;
}
.head1{
    color:#632323;
    margin-bottom: -16px;
}
.ul{    
    margin-top: -13px ;
    list-style-position: outside;
    margin-left: -20px;
}
.p2{
    text-align: right;
}
/* .body{
    margin-left: 20em;
    margin-right: 20em;
} */
